@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  background: linear-gradient(45deg, rgb(164, 94, 223), rgb(231, 171, 115), rgb(231, 96, 58));
}
h1{
  text-align: center;
}
.addForm{
  text-align: center;
}
.addForm input{
  background-color: #e6e6e6;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
}
.addForm input::placeholder{
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
.addForm input:hover{
  background-color: #f0a44d;  
  border: 4px solid #a623e8;
}
button{
  font-family: 'PT Sans', sans-serif;
  background-color: #cfcccc;
  text-align: center;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
}
button:hover{
  background-color: #cfcccc;  
  border: 4px solid #e33434;
}
.notePoint{
  margin: 0 auto;
  text-align: center;
  height: 150px;
  width: 400px;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 1px 12px 8px rgba(48, 49, 51, 0.23);
}
.notePoint input{
  background-color: #cfcccc;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
}
.notePoint input:hover{
  background-color: #cfcccc;  
  border: 4px solid #21c2eb;
}
.newPoint{
  height: 60px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  background-color:  #d9d9d9;
}
.name{
  
  background-color: #cfcccc;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
}

