@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.catalogue_list ul{
	list-style: none;
}
input{
	border-radius: 20px;
	width: 180px;
	height: 50px;
	border: none;
	outline: none;
	text-align: center;
	background-color: #d4d4d4;
}
input::placeholder{
	color: black;
}
input:hover{
	background-color: #F19641;
}
button{
	width: 100px;
	height: 40px;
	border: none;
	background-color: #d4d4d4;
	border-radius: 20px;
}
button:hover{
	background-color: #F19641;
}
textarea{
	border: unset;
	border-bottom: 2px solid #F3F3F3;
	outline: none;
}
textarea:hover{
	border-bottom: 2px solid #757575;
}
.msg{
	margin: auto;
	display: block;
	width: 120px;
	border: 2px solid #F19641;
	border-radius: 3px;
	padding: 10px;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}
a{
	font-size: 20px;
	text-decoration: none;
	color: grey;
	transition: .2s all ease;
}
a:hover{
	color: #F19641;
	transform: scale(1.4);
}
.header{
	position: fixed;
	z-index: 101;
	display: flex;
	width: 100%;
	height: 137px;
	background-color: #FFFFFF;
	justify-content: center;
	align-items: center;
	outline: 1px solid #F3F3F3;
}
header{

	display: flex;
	width: 1577px;
	justify-content: space-between;
	align-items: center;
}
.wrapper {
	height: 350px;
	margin: auto;
	position: relative;
	width: 700px;
}
.slider {
	background-color: #ddd;
	border-radius: 1em;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.footer{
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;
	outline: 1px solid #F3F3F3;
	background-color: #FFFFFF;
}
footer{
	display: flex;
	width: 1577px;
	justify-content: space-between;
	align-items: center;
	
}
.stuffy{
	margin: auto;
	display: flex;
	width: 1577px;
	justify-content: space-between;
	align-items: justify;
	outline: 1px solid #F3F3F3;
	
}
.stuff h1{
	text-align: center;
}

.stuff h3{
	text-align: center;
}
.vacancies{
	margin: auto;
	display: block;
	width: 800px;
	text-align: justify;
}
.vacForm{
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.title{
	text-align: center;
}
.comp_title h1{
	text-align: center;
}
.companions{
	margin: auto;
	display: flex;
	width: 1577px;
	justify-content: space-between;
	align-items: center;
}
.login{
	display: block;
	margin: auto;
	text-align: center;

}

.registration{
	display: block;
	margin: auto;
	text-align: center;
}
.catalogue_list{	
	margin: auto;
	display: block;
	width: 1577px;
	text-align: left;
}
.card_list{
	text-align: center;
	width: 100%;
}
.delivery_info h1{
	text-align: center;
}
.delivery_info{
	margin: auto;
	display: block;
	width: 800px;
	text-align: justify;
}
.payment_info h1{
	text-align: center;
}
.payment_info{
	margin: auto;
	display: block;
	width: 800px;
	text-align: justify;
}
.return_goods h1{
	text-align: center;
}
.return_goods{
	margin: auto;
	display: block;
	width: 800px;
	text-align: justify;
}
.about_text h1{
	text-align: center;
}
.about_text{
	margin: auto;
	display: block;
	width: 800px;
	text-align: justify;
}
.news h1{
	text-align: center;
}
.user{
	text-align: center;
}
